/* CAUSES SECTION */
.description-container{
    max-width: 800px;
    margin:40px auto 20px;
  }
  
  .description-container p{
    text-align:justify;
  }
  
  .description-container-text{
    margin-top:10px;
  }
  
  .description-container .floating-image{
    max-width: 400px;
  }
  
  .description-container .floating-image.right{
    float:right;
    margin-left: 30px;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 7px;
  }
  
  .description-container .floating-image.left{
    float:left;
    margin-right: 30px;
    margin-bottom:10px;
    margin-top:10px;
    border-radius: 7px;
  }
  
  .container-title {
    margin-bottom: 5px;
  }
  
  
  /* END CAUSES SECTION */
  