textarea{
    font-family: Georgia, serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input{
    font-family: Georgia, serif;
    justify-items: center;
    
}

.main-holder {
    width: 700px;
    height: auto;
    display: grid;
    margin: 20px auto 20px auto;
    box-shadow: 0 0 10px 4px #34495e;
    background-color:white;
  
    padding-left: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  
.login-form {
    display: grid;
    border: 1px ;
    width: 80%;
  }
 
.login-form-text{
   width:100%;
   box-sizing:border-box;
   margin:16px 0;
   border:0;
   background: #ddd;
   padding: 20px 40px;
   outline:none;
   color: black;
   transition:0.5s;
  }
  
  .login-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus, 
  input[type=name]:focus, input[type=email]:focus, 
  textarea[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
    
  
  button:hover {
    opacity:0.7;
  }
  
  
  /* style buttons*/
  button {
    border:0;
    background:#192d47;
    color: #fff;
    padding: 12px 50px;
    cursor: pointer;
    transition:0.5s;
    font-family: Georgia, serif;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  
  /* The popup (background) */
  .popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #192d47be;
    padding-top: 10px;
    
    
    justify-items: center;
  }
  
  /* popup Content/Box */
  .popup-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 750px; 
    padding-right: 20px;
    padding-left: 20px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Contact form */
  .contact-section{
    padding: 40px 0 0 60px;
  }
  
  /* Contact form */
  .login-section{
    padding: 20px;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  .contact-form{
    display: grid;
    border: 1px ;
    width: 80%;
  }
  
  .contact-form-text{
    display:block;
    width:100%;
    box-sizing:border-box;
    margin:16px 0;
    border:0;
    background: #f1f1f1;
    padding: 20px 40px;
    outline:none;
    color: black;
    transition:0.5s;
  }

  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  
  textarea.contact-form-text{
    resize:none;
    height: 120px;
  }
  

