
#home-view {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/sea-top.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  #home-view-title {
    color: white;
    font-weight: bold;
    font-size: 9em;
    align-self: center;
  }
  #home-view-title2 {
    color: white;
    font-weight: bold;
    font-size: 3em;
    align-self: center;
  }
  #home-view-button {
    position: relative;
    width: 400px;
    color: black;
    font-size: 2em;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-color:  #A7BDBC; /*#738A89 /*rgb(199, 169, 190);*/
    margin-top: 140px;
    padding: 10px 20px;
    border-radius: 30px;
  }
  
  #home-view-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.4);
      -webkit-transition: none;
         -moz-transition: none;
              transition: none;
  }
  
  #home-view-button:hover:after {
    background-color: rgb(218, 191, 209);
    transform: scale(1.05);
    width: 120%;
    border-radius: 40px;
    background-color: rgba(255,255,255,0);
  
      -webkit-transition: all 0.4s ease-in-out;
         -moz-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
  }
  
  .page-wrapper{
    min-height:100%;
  }
  
  #aboutSeaLife {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("../imgs/sea-bot.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: hidden;
  }
  
  .about-title{
    color: #738A89;
  }
  
  .about-p{
    color: #A7BDBC;
    font-size: 16px;
  }
  
  .flex-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-images {
      flex-direction: column;
      justify-content: space-around;
    }
  }
  
  .home-images {
    margin: 2em ;
    position: relative;
     width: 350px;
     height: 350px;
     max-width: 400px ;
     width: 200vw;
     max-height: 400px ;
     height: 200vw;
     border-radius: 7px;
  }
  
  #img1 {
    background-image: url(../imgs/endangered-whale-shark.jpeg);
    background-size: cover;
  }
  
  #img2 {
    background-image: url(../imgs/endangered-turtle.jpg);
    background-size: cover;
  }
  
  #img3 {
    background-image: url(../imgs/endangered-sea-lion.jpg);
    background-size: cover;
  }
  
  .home-images:hover .overlay {
    opacity: 1;
  }
  
  .text-animal {
    color: black;
    font-size: 1.5em;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .animal-label {
    color: rgb(255, 0, 0);
    font-size: 2.5em;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,255,255,0.7);
  }

  .home-page-stats-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2em 4vw;
  
  }
  .home-page-stats {
    position: relative;
  
    display: flex;
    flex-direction: row;
    font-size: 2em;
    margin: 2vw;
  }
  #home-page-stat1 {
    position: relative;
    justify-self: right;
  }
  #home-page-stat2 {
    position: relative;
  }
  #home-page-stat3 {
    position: relative;
    left: 0;
  }
  
  
  .stats-icon {
    position: absolute;
    height: 2em;
    width: 2em;
    background: url("../imgs/logo2.png");
    background-size: cover;
    margin: 0 0.5em;
    transition: transform .7s ease-in-out;
  }
  
  .stats-icon:hover {
    transform: rotate(360deg);
  }
  
  .stats-text {
    position: relative;
    margin: 0 2.8em;
    padding: 0.4em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 20px 20px 0;
    border-left: white solid 0.1em;
    font-size: 25px;
  }