.navbar {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Hide overflow */
    background-color:#192d47;/*#0E828A/* #333; /* Dark background color */
  }
  
  .right-navbar {
    align-self:flex-end;
    overflow: hidden; /* Hide overflow */
    margin-left: auto;
    margin-right: 4vw;
  }
  
  /* Style the navigation bar links */
  .right-navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    font-size: 1.2em;
    overflow: hidden;
  }
  
  #nav {
    display: flex;
    flex-direction: row;
    list-style: none inside;
    margin: 0;
    padding: 0;
  }
  
  #nav li {
    display: block;
    position: relative;
  }
  
  #nav li li a {
    font-size: 90%;
  }
  
  #nav ul {
    position: relative;
    padding: 0;
    display: none;
  }
  
  #nav li:hover ul {
    display: block;
  }
  
  .siren-icon {
    position: relative;
    height: 25px;
    width: 25px;
    background: url("../imgs/logo2.png");
    background-size: cover;
    margin: 0 5px;
  }
  .menu-icon {
    position: relative;
    height: 25px;
    width: 25px;
    background: url("../imgs/menu.png");
    background-size: cover;
    margin: 0 5px;
  }
  .nav-bar-siren {
    margin-left: 5vw;
    padding: 14px 20px; /* Add some padding */
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: row;
  }
  .nav-bar-siren a{
    font-weight: 400;
    font-size: 1.4em;
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
  }
  
  /* Change color on hover/mouse-over */
  .right-navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
  
  /* responsive/collapsible nav bar */
  
  
  .right-navbar .icon {
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .right-navbar a {display: none;}
    .right-navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    .right-navbar.responsive {position: relative;}
    .right-navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      margin-bottom: 2em;
    }
    #nav {
      flex-direction: column;
    }
    .right-navbar.responsive a {
      display: block;
    }
  }