/* font  */
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-header {
	padding: 112px;
	text-align: center;
	color: black;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; /* Hide overflow */
  background-color:#192d47;/*#0E828A/* #333; /* Dark background color */

}

.right-navbar {
  align-self:flex-end;
  display-: flex;
  flex-wrap-: wrap;
  justify-content-: center;
  overflow: hidden; /* Hide overflow */
  margin-left: auto;
  margin-right: 5vw;

}

/* Style the navigation bar links */
.right-navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-size: 1.2em;
  overflow: hidden;
}

.siren-icon {
  position: relative;
  height: 25px;
  width: 25px;
  background: url("../imgs/logo2.png");
  background-size: cover;
  margin: 0 5px;
}
.menu-icon {
  position: relative;
  height: 25px;
  width: 25px;
  background: url("../imgs/menu.png");
  background-size: cover;
  margin: 0 5px;
}
.nav-bar-siren {
  margin-left: 5vw;
  padding: 14px 20px; /* Add some padding */
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
}
.nav-bar-siren a{
  font-weight: 400;
  font-size: 1.4em;
  color: white; /* White text color */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.right-navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.right-navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* responsive/collapsible nav bar */


.right-navbar .icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .right-navbar a {display: none;}
  .right-navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .right-navbar.responsive {position: relative;}
  .right-navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .right-navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* -------------- NAV BAR DONE ------------ */

/* ART */
#home-view {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../imgs/sea-top.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-view {
  position: relative;
  width: 100%;
  height: 60vh;
  /* TODO better way to place picture than crop it */
  background-image: url("../imgs/sea-top-cropped.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-view-title {
  color: white;
  font-weight: bold;
  font-size: 9em;
  align-self: center;
}
#home-view-title2 {
  color: white;
  font-weight: bold;
  font-size: 3em;
  align-self: center;
}
#home-view-button {
  width: 400px;
  color: black;
  font-size: 2em;
  align-self: center;
  background-color: rgb(199, 169, 190);
  margin-top: 140px;
  padding: 10px 20px;
  border-radius: 30px

}

#aboutSeaLife {
  position: relative;
  width: 100%;
  height: 200vh;
  background-image: url("../imgs/sea-bot.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

.article-info {
  position: relative;
  padding: 50px;
  margin: 0 10%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
  border-radius: 20px
}

.article-info h4 {
  font-size: xx-large;
  padding-bottom: 15px;
}

.image_img{
  display: block;
  width: 40%;
}

.img_overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*color:#ffffff;*/
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other
@media screen and (max-width: 400px) {
  .right-navbar a {
    float: none;
    width: 100%;
  }
} */

section::after {
  content: "";
  display: table;
  clear: both;
}

.list-inline{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
	float:left;
}

li a{
	display:block;
	color:white;
	text-align: center;
	padding: 8px;
  text-decoration: none;
}

footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #192d47; /* Grey background */
  color: white;
}


/* LOGIN FORM STYLESHEET */

form {
  border: 3px solid #f1f1f1;

}

/* login box */
#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  margin: 20px auto 20px auto;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px #192d47;
  padding-left: 60px;
  padding-bottom: 10px;
  padding-top: 10px;


}

#login-form {
  display: grid;
  border: 1px ;
  width: 80%;

}

/* Contact form */
.contact-section{
  padding: 40px 0;
}

.border{
  width:100px;
  height: 10px;
  background:#192d47;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display:block;
  width:100%;
  box-sizing:border-box;
  margin:16px 0;
  border:0;
  background: #111;
  padding: 20px 40px;
  outline:none;
  color: #ddd;
  transition:0.5s;
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
  resize:none;
  height: 120px;
}

.contact-form-btn{
  float:right;
  border:0;
  background:#192d47;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition:0.5s;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */

/* style for all buttons*/
button {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #4366b39d;
  cursor: pointer;
  outline: none;
  margin-bottom: 40px;
  margin-top: 10px;

}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #192d47be;
  padding-top: 50px;
  justify-items: center;

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* loading icon */
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
  z-index: 1000;
  /* TODO change loading icon */
	background: url(https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
}
