/* font  */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.page-header{
	padding: 112px;
	text-align: center;
	backround: blue;
	color: black;
}

.navbar {
  overflow: hidden; /* Hide overflow */
  background-color:#2F6468/*#0E828A/* #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

article{
	float: right;
  padding: 20px;
  width: 70%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.list-inline{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
	float:left;
}

li a{
	display:block;
	color:white;
	text-align: center;
	padding: 8px;
  text-decoration: none;
}

footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #2F6468; /* Grey background */
}

/* LOGIN FORM STYLESHEET */

form {
  border: 3px solid #f1f1f1;

}

/* login box */
#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  margin: auto;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px #2F6468;
  padding-left: 60px;
  padding-bottom: 10px;

}

#login-form {
  display: grid;
  border: 1px ;
  width: 80%;
}


/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */

/* style for all buttons*/
button {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin-bottom: 40px;

}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #2f6468de;
  padding-top: 50px;
  justify-items: center;

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}